* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}
h2 {
  font-family: 'Shadows Into Light', cursive;
}
h3 {
  color: #006666;
  font-family: 'Playfair Display', serif;
}
p {
  font-family: Candara, sans-serif;
}
body {
  background-color: #99ccff;
  text-align: center;
}
#about-me-list {
  padding: 1rem 5rem 2rem;
  list-style: square;
  list-style-position: inside;
  text-align: center;
}
img {
  filter: sepia(1);
  border-style: solid;
  border-width: 5px;
}
.project-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project-box {
  display: flex;
  flex-direction: column;
}
.section-header {
  text-decoration: green wavy overline;
}
.shadow-box-section {
  box-shadow: 60px -16px gray;
  border-style: solid;
  border-width: 5px;
}
